@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Paleta de cores */
:root {
    --blue: #164C5D;
    --bluezinho: #859AA0;
    --brow-primary: #271500;
    --brown: #7F5E3A;
    --rose: #E0CEBA;
    --bege: #FFFAF1;
    --white: #FFFFFF;
    --cinza-texto: #21272A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* pagina mural */
body {
  font-family: "Poppins", sans-serif; 
  /* background: url(../assets/img/photo.jpeg) no-repeat; 
    background-size: cover; */
  background-color: var(--bege);
  background: url(https://img.freepik.com/fotos-gratis/textura-de-papelao_95678-72.jpg?size=626&ext=jpg&ga=GA1.1.735520172.1711065600&semt=ais);
}

/* Começo da dashbord */
#myChart {
  width: 37.5rem;
  border: 1px solid rgba(216, 216, 216, 0.473);
  margin-bottom:7%;
}

.dash {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  width: 60%;
  position: relative;
  top: 0;
  left: 30%;
  background-size: cover;
  background-repeat: no-repeat;
}

#img_fundo {
  margin: 4% 0;
  padding: 0 6.875rem;
  background-color: var(--bege);
  border-radius: 30px;
  height: 80vh;
  border: 2px solid var(--blue);
  box-shadow: rgba(100, 100, 111, 0.253) 0px 7px 29px 0px;
}

/* paragrafo - olá, usuario */
.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: var(--bege);
  font-weight: 300; 
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

/* navbar lateral */
.nav-lateral {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100%;
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f1f1f1;  
}

/* Definição do botão */
.btn-nav {
  background-color: var(--bege);
  color: var(--blue);
  font-size: 1rem;
  padding: 0.5rem 2.5rem;
  border-radius: 0.8125rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s, transform 0.4s;
}

.btn-nav:hover {
  background-color: #c7edff;
  transform: scale(1.1);
}

.btn-nav:hover {
  background-color: #ffffff86;
  transform: scale(1.1);
}

.btn-nav-white {
  background-color: transparent;
  font-size: 1rem;
  border-radius: 0.8125rem;
  padding: 0.5rem 2.5rem; 
  border: 0.12rem solid var(--bege);  
  /* width: 40%; */
  text-align: center;
  /* padding: 2% 5%; */
}

.btn-nav-white h3 {
  color: var(--bege);
  padding: 0;
  margin: 0;
  font-weight: 600; 
}

.btn-nav-white:hover {
  background-color: var(--bege);
}

.btn-nav-white h3:hover {
  color: var(--blue);
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
    background-color: var(--bege);
    color: var(--blue);
    padding: 0.4rem 2rem;
    font-size: 1.2rem;
    margin: 0.625rem 1.375rem;
    border-radius: .5rem; 
    border: none;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.4s, color 0.4s, transform 0.4s;
}

.btn-logout:hover {
  width: 8.125rem;
  text-align: center;
  transition: 3s;
}

/*GRAFICO*/
.grafico {
  height: 400px;
  width: 850px;
  font-size: 50px;
  background-color: white;
  color: #f1f1f1;
}

/* MENSAGENS DE ACORDO COM O RESULTADO  */
.regua {
  display: flex;
  padding: 3%;
  font-family: "Poppins", sans-serif; 
}

.item-regua {
  text-align: center;
  width: 60%;
  /* height: 100px; */
  border-radius: 13px;
  margin-left: 20%;
  padding: 2% 2%;
  color: var(--brow-primary);
  box-shadow: rgba(122, 151, 177, 0.548) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

#poucoacesso {
  display: none;
  background-color: #CE5859;
  
}

#poucoacesso h2 {
  color: #FFE1E1;
  font-weight: 700;
}

#medioacesso {
  display: none;
  background-color: #FCFF73;
}

#medioacesso h2 {
  color: #8A7402;
}

#muitoacesso {
  display: none;
  background-color: #5CA55C;
}

#muitoacesso h2 {
  color: #d0f0bd;
  font-weight: 700;
}

h4 {
  margin: 0;
  font-family: "PT Serif", serif; 
  font-size: 1.5rem;
  line-height: 50px;
}

h2 {
  font-size: 1.375rem;
}

