@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --blue: #164C5D;
  --bluezinho: #859AA0;
  --brow-primary: #271500;
  --brown: #7F5E3A;
  --rose: #E0CEBA;
  --bege: #FFFAF1;
  --white: #FFFFFF;
  --cinza-texto: #21272A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}  

#tela_login{
  /* display: flex;
  flex-direction: column; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: url(../assets/img/image\ 2.png) no-repeat; */
  /* background: url("https://images.pexels.com/photos/15591241/pexels-photo-15591241/free-photo-of-preto-e-branco-p-b-folhas-livro.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat; */
  background: url("https://images.pexels.com/photos/694740/pexels-photo-694740.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat;
  background-position: center;
  background-size: cover;
}

.wrapper {
  margin: 4% 0% 0 28%;
  width: 38rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  color: #fff;
  border-radius: 0.635rem;
  /* padding: 1.875rem 2.5rem; */
  padding-top: 1.75rem;
  border: 2px solid rgba(255, 255, 255, 0.212);
  backdrop-filter: blur(25px);
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
  margin-bottom: 3%;
 position: relative;
}

.wrapper h2 {
  font-size: 30px;
  text-align: center;
  margin: 0;
}

.wrapper p {
  font-size: 16px;
  color: var(--bege);
  margin-bottom: 8px;
}
/* definicoes do input */
.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 3.125rem;
  margin: 0 0 3.5rem 0;
}

.text {
  font-size: 16px;
  font-weight: 700;
}

.input-box input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 50px;
  border-radius: 0.813rem;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: absolute;
  left: 1.25rem;
  top: 98%;
  transform: translateY(-50%);
  font-size: 20px;
  color: var(--bege);
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 1.875rem;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
  color: #568b8c;
}

.wrapper .btn {
  cursor: pointer;
  border: 0;
  border-radius: 0.813rem;
  font-weight: 600;
  font-size: 18px;
  color: var(--brow-primary);
  width: 70%;
  height: 45px;
  align-self: center;
  margin-top: 20px;
  transition: all 0.8s ease-out;
  background-color: var(--rose);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 0;
}

.wrapper .btn:hover {
  background-color: #568b8c;
  color: #fff;
}

#btn-cade {
  width: 18.75rem;
}

.wrapper .register-link {
  font-size: 14px;
  text-align: center;
  /* margin: 20px 0 0px; */
}

.register-link p a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
}

.register-link a:hover {
  color: #518485;
}

.register-link .enter {
  margin-top: 1.5rem;
}

/* definicao do select */
select {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: .875rem;
  /* background: var(--rose);  */
  background-color: #e0cebad2;
  color: rgb(32, 32, 32);
  text-align: center;
  outline: none;
  width: 100%;
  height: 2.5rem; 
  border-radius: 0.813rem;
  display: flex;
  border: none;
  /* border: 1px solid var(--brow-primary); */
  align-items: center;
}


select:hover {
    background: #c7b8a7;
    color: var(--blue);
    transition: 1s;
}

option {
    background-color: var(--rose); 
    font-size: 15px;
    color: var(--blue);
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
}
