@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* Paleta de cores */
:root {
    --blue: #164C5D;
    --bluezinho: #859AA0;
    --brow-primary: #271500;
    --brown: #7F5E3A;
    --rose: #E0CEBA;
    --bege: #FFFAF1;
    --white: #FFFFFF;
    --cinza-texto: #21272A;
}

/* body .books {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */

body .books {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% 25% 5%;
}
.text {
    text-align: center;
}

.books {
    background-color: var(--rose);
    background-color: rgba(224, 206, 186, 0.062); 
    width: 100%;
    padding: 1% 0 2% 2%;
    max-width: 56.25rem;
    position: relative;
    overflow: hidden;
}

.books .slide {
    display: flex;
    padding: 2.5rem 3.75rem;
    cursor: grab;
}

.books .slide:active {
    cursor: grabbing;
}

.books i {
    font-size: 90px;
    color: #cccccc70;
}

.books p.citation-books {
    font-weight: 300;
    margin-bottom: 2.5rem;
}

.slide .capa {
    margin-top: 2%;
    display: flex;
    width: 18.125rem;
    height: 23.125rem;
    background-color: var(--blue);
    border-radius: 70px 5px 70px 5px;
}

.slide .capa img {
    margin: 5%;
    width: 16.875rem;
    height: 21.25rem;
    border-radius: 70px 5px 70px 5px;
}

.slide .information-books  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4%;
    max-width: 31.25rem;
}

.information-books p {
    font-family: "Poppins", sans-serif; 
    font-size: 16px;
    line-height: 1.875rem; 
    margin-left: 8%;
    text-align: justify;
    color: #271500;
}

.information-books h4 {
    display: flex;
    justify-content: end;
    font-family: "PT Serif", serif;
    font-size: 22px;
    font-style: italic;
    margin-top: -2%;
    color: var(--brow-primary);
}
