* {
    margin: 0;
    padding: 0;
}
.header {
    height: 12vh;
    background-color: #173679;
    border-bottom: 4px solid #DB901C;
}
.fundo {
    height: 85vh;
    background-color: red;
}
#container {
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: #DB901C;
}
.navgogh {
    font-family: 'Kalam', cursive;
    display: flex;
    width: 700px;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
    margin-top: 2%;
    color: #901C;
    padding: 5px;
    font-weight: 600;
}
h1 {
    display: flex;
    font-family: 'Homemade Apple', cursive;
    align-items: center;
    padding: 10px;
    margin-top: 1%;
    margin-left: 4%;
    color: #DB901C;
    font-family: vincent, sans-serif;
}

/*HEADER PARA OUTRAS PÁGINAS*/

.header-dois {
    height: 12vh;
    background-color: rgba(23, 54, 121);
    border-bottom: 4px solid #DB901C;
}
.fundo {
    height: 85vh;
    background-color: red;
}
#container {
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: #DB901C;
}
.navgogh {
    display: flex;
    width: 700px;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
    margin-top: 2%;
    color: #DB901C;
    padding: 5px;
    font-weight: 600;
}
h1 {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 1%;
    margin-left: 4%;
    color: #DB901C;
}
.fundo {
    height: 90vh;
    background-image: url(imgs/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
}
.fundo p {
    text-shadow: 
               1px 1px 4px #000, 
               1px 2px 4px #000,                    
                2px 2px 4px #000,                  
                1px 4px 4px #000;
    color: #E8E163;
    width: 40%;
    margin: 0;
    padding: 0;
    width: 600px;
    font-size: 50px;
    margin-top: 160px;
    margin-left: 300px;
    height: 250px;
    font-weight: 600;
    font-family: 'Satisfy', cursive;
}
.frase {
    font-size: 60px;
    font-weight:bold;
    color:  #E8E163;
    text-shadow: 
               7px 7px 7px #000, 
               7px 7px 7px #000,                    
                7px 7px 7px #000,                  
                7px 7px 7px #000;
}
.transicao {
    background: linear-gradient(#000, #0B1E38, #304473, #173679);
    height: 2vh;
}
/*Eu sonho minha pintura, e então eu pinto o meu sonho.
Andei por esta terra durante trinta anos e, por gratidão, quero deixar alguma lembrança.*/
.pessoas {
    background-image: url(imgs/impacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
}
.pessoas .container {
    justify-content: flex-end;
}
.pessoas p {
    margin-top: 150px;
    font-size: 50px;
    padding: 15px;
    text-shadow: 
               4px 4px 4px #000, 
               3px 3px 3px #000,                    
                4px 4px 4px #000,                  
                3px 3px 3px #000;
    font-family: 'Satisfy', cursive;
    color: #DB901C;
    font-size: 40px;
}
.pessoas span {
    margin-left: 200px;
    text-align: center;
    color: #E8E163;
    text-shadow: 
               4px 4px 4px #000, 
               5px 5px 5px #000,                    
                4px 4px 4px #000,                  
                5px 5px 5px #000;
}
.sketchfab-embed-wrapper {
    height: 70vh;
    justify-content: center;
}
.fatos {
    height: 160vh;
    font-family: 'Yomogi', cursive;
    display: grid;
    grid-template-columns: 2fr 2fr;
    text-align: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(#000, #0B1E38, #173679, #304473, #0B1E38);
}
.fatos p{
    color: #DB901C;
    margin-left: 100px;
    font-size: 20px;
    text-shadow: 
               1px 1px 1px #000, 
               1px 1px 1px #000,                    
                1px 1px 1px #000,                  
                1px 1px 1px #000;
}
.fatos h3 {
    color: #E8E163;
    font-size: 20px;
    text-shadow: 
               1px 1px 4px #000, 
               1px 2px 4px #000,                    
                2px 2px 4px #000,                  
                1px 4px 4px #000;
}
.fatos img {
    width: 200px;
    padding: 20px;
}
figcaption {
    padding: 5px;
    text-shadow: 
               1px 1px 4px #000, 
               1px 2px 4px #000,                    
                2px 2px 4px #000,                  
                1px 4px 4px #000;
    font-size: 10px;
    color: #E8E163;
}
.social {
    background-color: #0B1E38;
    padding: 50px 0;
    height: 80vh;
} 
.social .container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
} 
  
.social .titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
} 
.social h2 {
    display: flex;
    padding: 20px;
    background-color: #DB901C;
    border-radius: 20px;
    align-self: center;
    justify-self: center;
    text-align: center;
    color: #0B1E38;
    margin: 0;
    font-family: 'Yomogi', cursive;
} 
.social .boxes {
    display: flex;
}
.social .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 33%;
    font-family: 'Yomogi', cursive;
}  
.social .box img {
    width: 150px;
    align-self: center;
} 
.social .box h4 {
    color: #DB901C;
    margin-top: 30px;
}
.social .box p {
    color: #E8E163;
}
.footer {
    background: linear-gradient(#304473, #173679);
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    font-family: 'Kalam', cursive;
    }
.footer2 {
    font-family: 'Kalam', cursive;
    background: linear-gradient(#304473, #173679);
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    margin-top: -1vh;
}
h4 {
    margin: 0;
    padding: 30px;
    color: #4888C8;
    font-size: 25px;    
}
.footer .container {
    display: flex;
    justify-content: center;
    padding: 10px;
}
iframe {
    border-radius: 10px;
    font-size: 0px;
}
/*TELA DE LOGIN*/

#tela_login {
    background-image: url(imgs/login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.login {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    align-items: center;
    width: 400px;
    background-color: #FFF;
    margin-left: auto;
    margin-top: 5vh;
    margin-right: auto;
    padding: 20px 30px;
    border-radius: 10px;
    justify-items: center;
}
textarea:focus, input:focus{
    outline: none;

}
.login a {
    font-size: .8rem;
    color: #173679;
}
.login a :hover {
    background-color: #DB901C;
}
.login h2 {
    color: #DB901C;
}
.login form {
    margin-top: 30px;
    margin-bottom: 40px;
}
.login label ,input {
    display: block;
    width: 95%;
    text-align: left;
    font-family: 'Permanent Marker', cursive;
}
.login label {
    font-weight: bold;
    font-size: 1rem;
}
.login input {
    border-bottom: 2px solid #0B1E38;
    padding: 10px;
    font-size: .8rem;
    margin-bottom: 20px;
    border-radius: 10px;
}
.login input :focus {
    border-bottom: 2px solid #331C0E;
}
.login .cadastro-container {
    display: block;
    text-align: right;
}
.login .btn {
    background-color: #173679;
    text-align: center;
    text-transform: uppercase;
    border: none;
    height: 50px;
    border-radius: 20px;
    margin-top: 30px;
    cursor: pointer;
    color: #DB901C;
    font-weight: bold;
    width: 250px;
    font-size: 25px;
    font-family: 'Permanent Marker', cursive;
}
.login .btn:hover {
    background-color: #0B1E38;
    transition: .5s;
}
.login .cadastro-container {
    margin-bottom: 10px;
}

/*TELA DE CADASTRO*/

#tela_cadastro {
    background-image: url(imgs/cadastro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position:static;
    background-color: #DB901C;
    font-family: 'Permanent Marker', cursive;
}
.cadastro {
    text-align: center;
    align-items: center;
    width: 400px;
    background-color: #FCFEF0;
    margin-left: auto;
    margin-right: auto;
    padding:10px 30px;
    border-radius: 10px;
    height: 83.5vh;
    margin-top: 0.5vh;
}
.cadastro textarea:focus, input:focus{
    outline: none;
}
.cadastro a {
    font-size: .8rem;
    color: black;
}
.cadastro a :hover {
    background-color: #FCFEF0;
}.cadastro form {
    margin-top: 30px;
    margin-bottom: 40px;
}
.cadastro label ,input {
    display: block;
    width: 95%;
    text-align: left;
    border-radius: 10px;
}
.cadastro label {
    font-weight: bold;
    font-size: 1rem;
}
.cadastro input {
    border-bottom: 2px solid #0B1E38;
    padding: 10px;
    font-size: .8rem;
    margin-bottom: 10px;
}
.cadastro input :focus {
    border-bottom: 2px solid #331C0E;
}
.cadastro .login {
    display: block;
    text-align: center;
    background: none;
}
.cadastro .login a {
    font-size: 15px;
    color: #0B1E38;
    font-weight: bold;
}
.cadastro .btn:hover {
    background-color: #78BCDC;
    transition: .5s;
}
.cadastro .login {
    margin-bottom: 10px;
}
.cadastro h2 {
    color: #0B1E38;
}
.cadastro a {
    color: #173679;
}
.cadastro button {
    background-color: #173679;
    text-align: center;
    text-transform: uppercase;
    border: none;
    height: 60px;
    width: 70%;
    border-radius: 20px;
    margin-top: 30px;
    cursor: pointer;
    color: #DB901C;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Permanent Marker', cursive;
}
.cadastro button:hover {
    background-color: #0B1E38;
    transition: .5s;
}

/*TELA SOBRE*/

#tela_sobre {
    background: linear-gradient(#7FC5DC, #4888C8);
    background-repeat: no-repeat;
    background-size: cover;
}
#sobre {
    height: 50vh;
    display: flex;
    display: block;
}
#sobre .container {
    margin-top: 10vh;
    margin-left: 2.5vw;
    display: flex;
    justify-content: flex-start;
}
#sobre .container .curious {
    height: 300px;
}
#sobre a:hover {
    background-color: #0B1E38;
    color: #DB901C;
}
.identificacao h3 {
    font-size: 27px;
    color: #DB901C;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    -webkit-text-stroke: 1px #0B1E38;
}
#sobre .container p {
    margin-left: 1.5vw;
    border-radius: 10px;
    padding: 10px;
    width: 900px;
    font-size: 19px;
    color: #0B1E38;
    height: 250px;
    font-weight: 800;
}
#sobre .container a {
    color: #0B1E38;
    font-size: 20px;
}
#sobre .container a:hover{
    color: #DB901C;
}
/* FUNCOES JS*/
.loading-div {
    width: 50px;
    /* border: 3px solid pink; */
    margin: auto;
    display: none;
}
.loading-div img {
    height: 50px;
    width: 50px;
} 
/* CARROSEL */

.slider {
    position: relative;
    width: 60%;
    overflow: hidden;
    height: 70%;
    justify-content: center;
}
.images {
    display: flex;
    width: 40%;
    overflow: hidden;
    margin-left: 32.5%;
}
.images img {
    height: 400px;
    width: 100%;
    transition: all 0.15s ease;
    justify-content: center;
    margin-left: 1px;
}
.images input {
    display: none;
}
.dots {
    display: flex;
    justify-content: center;
    margin: 5px;
}
.dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #DB901C 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
    margin-left: 0.5px;
    margin-right: 0.5px;
    justify-content: center;
    align-items: center;
}
.dots label:hover {
    background: #E8E163;
}

#img1:checked~.m1 {
    margin-left: 0;
}
#img2:checked~.m2 {
    margin-left: -100%;
}
#img3:checked~.m3 {
    margin-left: -200%;
}

#img4:checked~.m4 {
    margin-left: -300%;
}
#img5:checked~.m5 {
    margin-left: -400%;
}
#img6:checked~.m6 {
    margin-left: -500%;
}

#div_curiosidade {
    color: white;
    width: 800px;
    height: 400px;
    display: flex;
    text-align: center;
    justify-content: center;
    background: linear-gradient(#E8E163, #DB901C);
    margin-right: 200px;
    justify-content: space-evenly;
    text-align: center;
    padding: 15px;
    font-size: 17px;
    font-weight: 700;
}

.carrosel {
    display: flex;
    justify-content: space-evenly;
    height: 700px;
    margin-top: 10vh;
}

#div_curiosidade {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}
#div_curiosidade span {
    font-size: 25px;
    color: #0B1E38;
    font-weight: 600;
}
#div_curiosidade p {
    font-size: 16px;
    font-weight: 600;
    color: #173679;
}
.obras {
    width: 100%;
    height: 100vh;
    background-color: red;
    display: flex;
}
.obras {
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
}
.obras .lado1 {
    height: 200px;
    float: left;
    width: 40%;
    margin-top: 10px;
    text-align: center;
}
.obras .lado2 {
    float: left;
    margin-top: 10px;
    text-align: center;
    width: 40%;
    height: 200px;
    
}
.obras p {
    display: flex;
    align-items: center;
}

.obras .lado3 {
    height: 200px;
    float: left;
    width: 40%;
    margin-top: 10px;
    text-align: center;
}
.obras .lado4 {
    float: left;
    margin-top: 10px;
    text-align: center;
    width: 40%;
    height: 300px;   
}
.divobras {
    display: flex;
    justify-content: space-around;
    height: 65vh;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.animacao {
    justify-content: center;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}
#div1 {
    float: left;
}
#div2 {
    float: right;
    justify-content: center;
}
.divs {
    width: 500px;
    height: 400px;
    display: inline-block;
    
}
.divs img {
    height: 300px;
    border-radius: 2px;
}
#div1 p{
    text-align: center;
    justify-content: center;
    padding: 10px;
    color: #0B1E38;
    
}
#div2 p {
    text-align: center;
    justify-content: center;
    padding: 10px;
    color: #0B1E38;
    font-family: 'Roboto', sans-serif;
}
.divs p:hover {
    background-color: #7FC5DC;
    border-radius: 40px;
}
.divs p {
    font-weight: bold;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}
select {
    background: linear-gradient(#0B1E38, #173679, #4888C8); 
    font-size: 20px;
    color: #DB901C;
    text-align: center;
    height: 30px;
    width: 250px;
    border-radius: 20px;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
}
select:hover {
    background: linear-gradient(#E8E163, #DB901C);
    color:#0B1E38;
}
option {
    background-color: #0B1E38; 
    font-size: 15px;
    color: #DB901C;
    text-align: center;
    height: 30px;
    width: 250px;
    border-radius: 20px;
    font-weight: bold;
}